[submodule "third_party/PnLCalib"]
	path = third_party/PnLCalib
	url = https://github.com/mguti97/PnLCalib.git
	ignore = dirty
[submodule "third_party/gvhmr"]
	path = third_party/gvhmr
	url = https://github.com/zju3dv/GVHMR.git
